@font-face {
    font-family: 'Parsi';
    src: local('Parsi Bold'), local('Parsi-Bold'),
        url('/src/fonts/parsi-bold/Parsi-Bold.woff2') format('woff2'),
        url('/src/fonts/parsi-bold/Parsi-Bold.woff') format('woff'),
        url('/src/fonts/parsi-bold/Parsi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Parsi';
    src: local('Parsi Regular'), local('Parsi-Regular'),
        url('/src/fonts/parsi-regular/Parsi-Regular.woff2') format('woff2'),
        url('/src/fonts/parsi-regular/Parsi-Regular.woff') format('woff'),
        url('/src/fonts/parsi-regular/Parsi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pickle-Pushing';
    src:url('/src/fonts/pickle-pushing/Pickle-Pushing.ttf.woff') format('woff'),
        url('/src/fonts/pickle-pushing/Pickle-Pushing.ttf.svg') format('svg'),
        url('/src/fonts/pickle-pushing/Pickle-Pushing.ttf.eot');
        /* url('Pickle-Pushing.ttf.eot?#iefix') format('embedded-opentype');  */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0; 
}

body {
    background-image: url('/src/assets/backgroundPronet.svg');
    background-repeat: no-repeat;    
    background-size: cover;
}

/* .itemProducto:nth-of-type(2n) {
    margin-top: 0px;    
} */
